<div class="col-md-6">
  <%= form_for [:admin, api_client], remote: true do |f| %>
    <%= render 'admin/api_clients/form_fields', f: f %>
    <div class="form-group">
      <%= f.submit 'Enregistrer', class: "btn btn-default" %>
    </div>
  <% end %>
</div>
