<div class="form-group">
  <%= f.text_field :name, placeholder: 'Nom du compte', class: "form-control" %>
</div>
<div class="form-group">
  <%= f.url_field :origin, placeholder: 'http://www.fabmanager.lacasamate.fr', class: "form-control" %>
</div>
