# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b808c1bbebeb784b64df8e5074473b6e2faf3ab567997d64c4302c333f5d09d0e16292d1b85ef9805bec08793875009622763b0c5688744c0e670285322de900
  redis_host: 'localhost'
  elasticsearch_host: 'localhost'
  elasticsearch_port: 9203
  elasticsearch_index_name: 'openlab'
  postgres_host:
  postgres_password:

test:
  secret_key_base: 56bb9b41ab8ea4c82ad2c45d52628cefd23a9aa655ad37a6541c2c26720fc30ff8ac09894a957c3e3f94e6ac8eca9e8e9993635ea0ea2b4fe9b09e5871dda330
  redis_host: 'localhost'
  elasticsearch_host: 'localhost'
  elasticsearch_port: 9203
  elasticsearch_index_name: 'openlab'
  postgres_host:
  postgres_password:

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  elasticsearch_host: <%= ENV["ELASTICSEARCH_HOST"] %>
  elasticsearch_port: <%= ENV["ELASTICSEARCH_PORT"] %>
  elasticsearch_index_name: <%= ENV["ELASTICSEARCH_INDEX_NAME"] %>
  redis_host: <%= ENV["REDIS_HOST"] %>
  postgres_host: <%= ENV["POSTGRES_HOST"] %>
  postgres_password: <%= ENV["POSTGRES_PASSWORD"] %>
